#!/usr/bin/make -f
# Sample debian.rules file - for GNU Hello (1.3).
# Copyright 1994,1995 by Ian Jackson.
# I hereby give you perpetual unlimited permission to copy,
# modify and relicense this file, provided that you do not remove
# my name from the file itself.  (I assert my moral right of
# paternity under the Copyright, Designs and Patents Act 1988.)
# This file may have to be extensively modified
#
# Modified to be a prototype for debmake by Christoph Lameter <clameter@debian.org>

#export DH_VERBOSE=1

package=boa

patch: patch-stamp
patch-stamp:
	dh_testdir
	$(MAKE) -f /usr/share/quilt/quilt.make patch
	touch patch-stamp

unpatch:
	dh_testdir
	$(MAKE) -f /usr/share/quilt/quilt.make unpatch

build: patch-stamp build-stamp 

build-stamp: 
	dh_testdir
	./configure
	make
	cd docs;make boa.html boa.info
	touch build-stamp

clean: unpatch
	dh_testdir

	rm -f *-stamp

	-[ -f Makefile ] && make mrclean
	-[ -f docs/Makefile ] && make -C docs clean
	-rm -f docs/boa.info docs/boa.html docs/index.html
	dh_clean

binary-indep:	build

binary-arch:	build
	dh_testdir
	dh_testroot

	dh_clean -k
	dh_installdirs

	dh_installdocs README docs/boa.html docs/boa_banner.png docs/boa.texi
	dh_installinfo -n docs/boa.info
	dh_installexamples
	dh_installmenu
	dh_installinit --error-handler=true
	dh_installdebconf
	dh_installcron
	dh_installlogrotate
	dh_installman docs/boa.8
	dh_installchangelogs CHANGES

	install src/boa debian/boa/usr/sbin
	install src/boa_indexer debian/boa/usr/lib/boa
	install --mode=0640 debian/boa.conf debian/boa/etc/boa/boa.conf
#	install --mode=0640 debian/logrotate.d debian/boa/etc/logrotate.d/boa

	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_makeshlibs
	dh_md5sums
	dh_builddeb

# Below here is fairly generic really

binary:		binary-indep binary-arch

.PHONY: build clean binary-arch binary-indep binary
